﻿@model HomeController.VM
@section TOP
{
	@Html.Holder("A001", Model)
	@Html.Holder("A002", Model)
	@Html.Holder("A003", Model)
	@Html.Holder("A004", Model)
	@Html.Holder("A005", Model)
}
<div class="row">
	<div class="col-lg-8">
		@Html.Holder("M001", Model)
		@Html.Holder("M002", Model)
		@Html.Holder("M003", Model)
		@Html.Holder("M004", Model)
		@Html.Holder("M005", Model)
		@Html.Holder("M006", Model)
		@Html.Holder("M007", Model)
		@Html.Holder("M008", Model)
		@Html.Holder("M009", Model)
		@Html.Holder("M010", Model)
	</div>

	<div class="col-lg-4">
		<aside class="aside-components">
			@Html.Holder("P001", Model)
			@Html.Holder("P002", Model)
			@Html.Holder("P003", Model)
			@Html.Holder("P004", Model)
			@Html.Holder("P005", Model)
			@Html.Holder("P006", Model)
			@Html.Holder("P007", Model)
			@Html.Holder("P008", Model)
			@Html.Holder("P009", Model)
			@Html.Holder("P010", Model)
		</aside>
	</div>
</div>

<div class="row" style="height:50px">
	<div class="col">&nbsp;</div>
</div>
@if (IsMobile)
{
	<script>
		$('.schedule-mainline').click(function (e) {
			if ($(e.target).attr('data-cancel') == undefined) {
				var url = $(this).attr('data-url');
				window.open(url, '_self');
			}
		});
	</script>
}
else
{
	<script>
		$('.schedule-mainline').click(function (e) {
			if ($(e.target).attr('data-cancel') == undefined) {
				var left = (screen.width / 2) - (500 / 2);
				var top = (screen.height / 2) - (800 / 2);

				var url = $(this).attr('data-url');
				var w = window.open(url, '_blank', 'toolbar=0,top=' + top + ',left=' + left);
				w.resizeTo(500, 800);
			}
		});
	</script>
}
