﻿@model IViewModel
<!DOCTYPE html>
<html>
<head>
	@*<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
	@foreach (var meta in Model.MainMetaTags)
    {
		@Html.Meta(meta)
    }
	@foreach (var meta in Model.PageMetaTags)
    {
		@Html.Meta(meta)
    }
	<title>Project JVAauto</title>
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap&subset=vietnamese" rel="stylesheet" />
	

	<link href="/st/style.min.css?t=@tick" rel="stylesheet" />
	@Html.Css("/st/fa", "5.11.2")

	<link href="/st/bootstrap.min.css?t=@tick" rel="stylesheet" />
	<script src="/st/jquery-3.4.1.min.js"></script>	

	@if (IsAuthen)
    {
		@Html.Css("/st", "admin")
		@Html.Js("/st", "admin")
    }
</head>
<body>
    <div>
        @RenderBody()
    </div>
                   

    <!-- Javascript-->  
    @Html.Js("/st", "custom")
    @{
        string mobile = IsMobile ? "true" : "false";
    }
    <script>
		js.mobile = @mobile;
    </script>

    @if (IsAuthen)
    {
        @Html.Partial("Admin")
    }

   
    @Html.Css("/views/" + ViewContext.RouteData.Values["Controller"], "style")
    @Html.Js("/views/" + ViewContext.RouteData.Values["Controller"], "script")
       
</body>
</html>
